{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="section bd-container change_password">
    <div class="form_container">

        <h2 class="form_heading">Recover Your Account </h2>

        {% if messages %}
        {% include 'message.html' %}
        {% endif %}


        <form method="POST" class="custom_form">
            {% csrf_token %}

            <!-- password -->
            <div class="form_content_container">
                <label>New Password</label>
                <input type="password" name="new_password"required>
            </div>
   
            <!-- password -->
            <div class="form_content_container">
                <label>Confirm Password</label>
                <input type="password" name="reconfirm_password"required>
            </div>

            <input type="hidden" name="user_id" value="{{user_id}}">

            <div class="form_content_container">
                <button type="submit" class="submit_btn">Save</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}