{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="section bd-container forget_password">
    <div class="form_container">

        <h2 class="form_heading">Recover Your Account </h2>

        {% if messages %}
        {% include 'message.html' %}
        {% endif %}


        <form method="POST" class="custom_form">
            {% csrf_token %}

            <!-- email -->
            <div class="form_content_container">
                <label>Enter email</label>
                <input type="email" name="email"required>
            </div>
            
            <div class="form_content_container">
                <button type="submit" class="submit_btn">Send Link</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}